* {
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


/* Header Logo And Menu */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    font-family: 'Tilt Neon', cursive;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.logo {
    margin: 0 20px;
    color: rgb(55, 180, 180);
    text-shadow: 0px 0px 10px rgb(55, 180, 180);
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17px;
}

header a {
    text-decoration: none;
    color: black;
}

.say {
    margin: 0 30px;
    border: 1px solid rgb(55, 180, 180);
    padding: 10px;
    border-radius: 13px;
    background-color: rgb(55, 180, 180);
    box-shadow: 2px 3px 10px rgb(55, 180, 180);
}

.bars {
    display: none;
}

nav ul {
    display: none;
}

@media screen and (max-width: 570px) {
    header ul {
        display: none;
    }

    .bars {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    .bars span {
        background-color: black;
        width: 28px;
        height: 3px;
        margin: 3px;
        border-radius: 10px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 3.5rem;
        position: fixed;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.3s ease all;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 100;
    }

    nav ul li {
        height: 100px;
        list-style: none;
        text-align: center;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}

/* Sidebar Info */
section {
    display: flex;
    justify-content: center;
    margin: 7rem 35px;
    flex-direction: row;
    font-family: 'Tilt Neon', cursive;
    align-items: center;
}

section a {
    text-decoration: none;
}

.link a {
    color: black;
}

.link ul {
    margin: 25px 19px;
}

.link a i {
    font-size: larger;
    margin: 10px 0;
    color: black;
}

.info {
    border: 1px solid white;
    flex: 0.7;
}

.info-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-list img {
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
    margin-bottom: 20px;
}

.info-list p {
    margin: 0 23px;
}

.info-text {
    color: gray;
    margin-top: 10px;
    padding-bottom: 50px;
}

#info-list {
    margin: 1rem;
    padding-top: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    transition: 0.3s ease all;
}

#info-list:hover {
    transform: scale(1.1);
}

#info-list a {
    margin: 0 23px;
    border: 1px solid rgb(55, 180, 180);
    padding: 10px;
    color: white;
    background-color: rgb(55, 180, 180);
    box-shadow: 0px 0px 10px rgb(55, 180, 180);
    border-radius: 15px;
}

@media screen and (max-width: 570px) {
    .link {
        display: none;
    }
}

/* Footer */

footer {
    margin-top: 13rem;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.credit img {
    width: 95px;
}

.credit-teks {
    flex: 0.3;
    margin-left: 3rem;
}

@media screen and (max-width: 570px) {
    .credit {
        flex-direction: column;
        padding: 2rem 2rem;
    }
}

/* Footer Bottom */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55, 180, 180);
    padding: 3rem 0;
}

.sosmed-list {
    display: flex;
    justify-content: space-between;
}

.sosmed-list a {
    color: black;
}

.sosmed-list a i {
    margin: 10px 0;
    font-size: 25px;
}

.sosmed-list li {
    list-style: none;
}

.spesial-thanks li {
    margin: 10px 0;
    list-style: none;
}

.komunitas li {
    margin: 10px 0;
    list-style: none;
}

@media screen and (max-width: 570px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        margin: 20px;
    }
}

/* Footer Created */

.created {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(36, 36, 36);
}

.created p {
    color: white;
    font-size: 20px;
}